<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96719957610-ddfb3f6bdnqjiadnlhfub7lbhslp0ds6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96719957610-ddfb3f6bdnqjiadnlhfub7lbhslp0ds6</string>
	<key>API_KEY</key>
	<string>AIzaSyDGwq9y6w3YNxCja4W6Ja1vbeOfSbe4tBo</string>
	<key>GCM_SENDER_ID</key>
	<string>96719957610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.borrachada</string>
	<key>PROJECT_ID</key>
	<string>borrachada-tickets</string>
	<key>STORAGE_BUCKET</key>
	<string>borrachada-tickets.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96719957610:ios:d14f6fa353c19004252413</string>
</dict>
</plist>